@model List<ResultEmployeeDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Personel Listesi</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Personel Adı Soyadı</th>
                        <th scope="col">Ünvan</th>
                        <th scope="col">Durum</th>
                        <th scope="col" class="text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.EmployeeID</th>
                            <td>@item.Name</td>
                            <td>@item.Title</td>

                            @if (item.Status == true)
                            {
                                <td>Aktif</td>
                            }
                            else
                            {
                                <td>Pasif</td>
                            }

                            <td class="text-end">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="/Employee/UpdateEmployee/@item.EmployeeID"><i class="fa fa-pencil mx-0"></i> Güncelle</a>
                                        <a class="dropdown-item" href="/Employee/DeleteEmployee/@item.EmployeeID"><i class="fa fa-trash mx-0"></i> Sil</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary col-12" href="/Employee/CreateEmployee"><i class="fa fa-plus mx-0"></i> Yeni Personel Ekle!</a>
        </div>
    </div>
</div>