@model UpdateEmployeeDto

@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Personel Güncelleme Formu</h6>
        <form method="post">
            <input type="hidden" asp-for="EmployeeID" />
            <div class="row mb-3">
                <label class="col-2 col-form-label">Personel Adı Soyadı</label>
                <div class="col-10">
                    <input type="text" class="form-control" asp-for="Name">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Ünvan</label>
                <div class="col-10">
                    <input type="text" class="form-control" asp-for="Title">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">E-Posta</label>
                <div class="col-10">
                    <input type="email" class="form-control" asp-for="Mail">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Telefon Numarası</label>
                <div class="col-10">
                    <input type="text" class="form-control" asp-for="PhoneNumber">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Profil Resmi</label>
                <div class="col-10">
                    <input type="text" class="form-control" asp-for="ImageUrl">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-12">Personeli Güncelle!</button>
        </form>
    </div>
</div>

